#overlaycryptofr {
    z-index: 99999999;
    overflow: hidden  !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: auto !important;
    height: auto !important;
    bottom: 0 !important;
    right: 0 !important;
    background: rgba(255, 255, 255, 0) !important;
    transition: background 0.333s ease !important;
}

#overlaycryptofr *, #overlaycryptofr *:before, #overlaycryptofr *:after {
    content: none;
    font-family: Arial, sans-serif !important;
    padding: 0 !important;
    margin: 0 !important;
    max-height: none !important;
    max-width: none !important;
    display: block !important;
    transition: none !important;
    user-select: none !important;
    opacity: 1 !important;
    visibility: visible !important;
    color: white !important;
    line-height: 1em !important;
    font-weight: normal !important;
    letter-spacing: normal !important;
    text-indent: 0 !important;
    background: none !important;
    transform: scale3d(1, 1, 1) !important;
    width: auto !important;
    height: auto !important;
    top: auto !important;
    left: auto !important;
    right: auto !important;
    bottom: auto !important;
    position: relative !important;
    text-align: left !important;
    opacity: 1 !important;
}

#overlaycryptofr span, #overlaycryptofr strong, #overlaycryptofr em, #overlaycryptofr a {
    display: inline-block !important;
}

#overlaycryptofr #popinwarning {
    position: absolute !important;
    padding: 60px 10px 15px 26px !important;
    width: 530px !important;
    bottom: -500px !important;
    border-radius: 4px !important;
    transition: bottom 0.777s ease !important;
    margin: 0 auto !important;
    right: 20px !important;
    overflow: hidden !important;
}

#overlaycryptofr.show {
    background: rgba(255, 255, 255, 0.8) !important;
}

#overlaycryptofr.show #popinwarning {
    bottom: 20px !important;
}

#overlaycryptofr #popinwarning header {
    background: black !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    padding: 9px 16px 0 !important;
    width: 100% !important;
    height: 45px !important;
}

#overlaycryptofr #popinwarning header .cryptofr {
    opacity: 0.6 !important;
    position: absolute !important;
    right: 14px !important;
    top: 11px !important;
    transition: opacity 0.333s ease;
}

#overlaycryptofr #popinwarning header .cryptofr:hover {
    opacity: 1 !important;
}

#overlaycryptofr h1 {
    margin-bottom: 20px !important;
    padding-bottom: 14px !important;
    font-size: 16px !important;
    text-align: left !important;
    text-transform: none !important;
    color: white !important;
    line-height: 30px !important;
    font-weight: bold !important;
    display: inline-block !important;
    margin-right: 100px !important;
}

#overlaycryptofr #popinwarning, #overlaycryptofr #popinwarning * {
    box-sizing: border-box !important;
}

#overlaycryptofr .topcontent {
    position: relative !important;
    padding-left: 70px !important;
}

#overlaycryptofr .cryptofr {
    display: inline-block !important;
    background: transparent url(https://cryptofr.com/assets/uploads/system/site-logo.png) no-repeat 0 0 !important;
    background-size: 100% auto !important;
    text-indent: 100px !important;
    overflow: hidden !important;
    width: 80px !important;
    height: 20px !important;
    margin: 0 2px -4px  !important;
}

#overlaycryptofr #why-btn {
    background: rgba(255, 255, 255, 0.9) !important;
    padding: 10px 20px 8px !important;
    text-transform: uppercase !important;
    font-weight: bold !important;
    font-size: 12px !important;
    margin: 17px auto 0 !important;
    display: block !important;
    text-align: center !important;
    width: 80% !important;
}

#overlaycryptofr.scam #why-btn { color: #b52020 !important; }
#overlaycryptofr.suspicious #why-btn { color: #ec9f10 !important; }
#overlaycryptofr.scam .warning-sign { fill: #b52020 !important; }
#overlaycryptofr.suspicious .warning-sign { fill: #ec9f10 !important; }

#overlaycryptofr.scam #popinwarning {
    background-color: rgb(187, 0, 0) !important;
    box-shadow: 0 0 10px #4e2828 !important;
}

#overlaycryptofr.suspicious #popinwarning {
    background-color: rgb(236, 159, 16) !important;
    box-shadow: 0 0 10px #4e422b !important;
}

#overlaycryptofr #why-btn:hover {
    background: white !important;
}

#overlaycryptofr #i-understand-and-want-to-go-anyway {
    display: block !important;
    text-decoration: none !important;
    color: rgba(255, 255, 255, 0.35) !important;
    font-weight: bold !important;
    margin: 6px auto 0 !important;
    text-align: center !important;
    font-size: 11px !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    height: 29px !important;
}

#overlaycryptofr #i-understand-and-want-to-go-anyway span {
    width: 100% !important;
    display: block !important;
    padding: 6px 20px !important;
    transition: margin-top 0.333s ease !important;
    text-align: center !important;
    line-height: 14px !important;
    vertical-align: top !important;
    color: rgba(255, 255, 255, 0.5) !important;
    text-transform: none !important;
}

#overlaycryptofr #i-understand-and-want-to-go-anyway:hover {
    color: rgba(255, 255, 255, 0.8) !important;
    border-color: rgba(255, 255, 255, 0.5) !important;
}

#overlaycryptofr #i-understand-and-want-to-go-anyway:hover span:first-child {
    margin-top: -26px !important;
}

#overlaycryptofr .intro {
    font-size: 13px !important;
    min-height: 47px !important;
    line-height: 29px !important;
}

#overlaycryptofr strong {
    text-decoration: underline !important;
    font-weight: bold !important;
}

#overlaycryptofr #suscpicious-domain {
    font-weight: bold !important;
}

#overlaycryptofr .warning-sign {
    position: absolute !important;
    top: 8px !important;
    left: 4px !important;
}