body, html {
  width: 350px;
  height: 400px;
  font-size: 14px;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  background: white;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

header {
  box-sizing: border-box;
  position: relative;
  background: white;
  color: white;
  height: 50px;
  width: 100%;
  padding: 8px 12px;
  text-align: center;
}

.intro {
  padding: 8px 10px;
  background: #efefef;
  margin-top: 8px;
}

#suspicious-domain {
  font-weight: bold;
}

#logo{
  height: 40px;
}

.report-done {
  display: none;
  text-align: center;
  font-weight: bold;
  padding: 22px;
}

.reported .report-done {
  display: block;
}

.reported form {
  display: none;
}

form {
  padding:15px
}

form > div {
  display: block;
  margin: 8px 0;
}

form > div:not(.switch-field) label, .switch-title {
  display: block;
  padding-bottom: 4px;
  margin-bottom: 0px;
  margin-top: 16px;
  font-size: 13px;
  font-weight: bold;
  color: #212121;
}

form input {
  outline: none;
}

form .switch-field {
  overflow: hidden;
  margin-bottom: 10px;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  float: left;
}

.switch-field label {
  display: inline-block;
  width: 33.3%;
  background-color: #fafafa;
  color: rgba(0, 0, 0, 0.6);
  font-size: 13px;
  text-align: center;
  text-shadow: none;
  padding: 8px 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.1s ease-in-out;
  font-weight: bold;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field #is-not-scam:checked + label {
  background-color: rgba(72, 184, 178);
  box-shadow: none;
  color: white;
}

.switch-field #is-suspicious:checked + label {
  background-color: rgba(236, 128, 35);
  box-shadow: none;
  color: white;
}

.switch-field #is-scam:checked + label {
  background-color: #D61F2C;
  box-shadow: none;
  color: white;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}

form textarea, form input[type=text] {
  width: 100%;
  border: 1px solid lightgray;
  resize: none;
  outline: none;
  padding: 6px 6px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

form textarea {
  height: 142px;
}

input[name="uri"] {
  color: #c3c3c3;
  background: transparent;
  border: none !important;
  padding: 0 1px !important;
}

form button {
  -webkit-appearance: none;
  background: #12a79e;
  color: white;
  display: block;
  text-transform: uppercase;
  padding: 8px 20px 8px;
  font-weight: bold;
  border: none;
  width: 100%;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.333s ease;
  border-radius: 2px;
  margin-top: 16px;
  font-size: 13px;
}

.legit form button {background: #12a79e;}
.suspicious form button {background: #EC8023;}
.scam form button {background: #D61F2C;}

form button:hover {
  opacity: 1;
}